{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
<style>

</style>
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-6 text-center align-self-center">
      <img src="{{product.product_image.url}}" alt="" class="img-fluid img-thumbnail">
    </div>
    <div class="col-sm-5 offset-sm-1">
      <h2>{{product.title}}</h2>
      <hr>
      <h4>Rs. {{product.discounted_price}} <small class="fw-light text-decoration-line-through">Rs.
          {{product.selling_price}}</small></h4> <br>
      {% if request.user.is_authenticated %}
      {% if item_already_in_cart %}
      <a href="{% url 'showcart' %}" class="btn btn-warning shadow-px py-2 ms-4">Go To Cart</a>
      {% else %}
      <form action="/add-to-cart" class="d-inline">

        <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id">
        <button type="submit" class="btn btn-primary shadow px-5 py-2 ms-4">Add To Cart</button>
      </form>
      {% endif %}
      {% endif %}
      {% if not request.user.is_authenticated %}
      <form action="/add-to-cart" class="d-inline">

        <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id">
        <button type="submit" class="btn btn-primary shadow px-5 py-2">Add To Cart</button>
      </form>
      {% endif %}
      <a href="{% url 'buy-now' %}" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a>
      <h5 class="mt-5">Available Offers</h5>
      <ul>
        <li>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit</li>
        <li>Special Price Get extra ₹3000 off (price inclusive of discount)</li>
        <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
        <li>Partner Offer ₹2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card</li>
      </ul>
      <br>
      <h3>About Product:</h3><br>
      <p>{{product.specifications}}</p>
    </div>
  </div>
  <br>

		<div class="row">
			<div class="col-md-6">



				<form action="{% url 'submit_review' product.id %}" method="POST">
					{% csrf_token %}
					<h5>Write Your Review</h5>

					<div>
						<!-- Rating stars -->
						<label>How do you rate this product?</label>
						<br>
						<div class="rate">
							<input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
							<input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
							<input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
							<input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
							<input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
							<input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
							<input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
							<input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
							<input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
							<input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
						</div>
<br>
						
						Review:
						<textarea name="review" rows="4" class="form-control"></textarea>
						<br>
						{% if user.is_authenticated %}
							{% if orderproduct %}
								<input type="submit" value="Submit Review" class="btn btn-primary">
							{% else %}
								<p>You must purchase this product to post a review.</p>
							{% endif %}
						{% else %}
						<p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login now</a></span></p>
						{% endif %}

					</div>
{% include 'app/alerts.html' %}
				</form>
<br>
<header class="section-heading">
	<h3>Customer Reviews </h3>
	<div class="rating-star">
		<span>
			<i class="fa-solid fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa-solid fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa-solid fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa-solid fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa-solid fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
	<span>{{product.countReview}} reviews</span>
			</span>
	</div>

</header>

{% for review in reviews %}
				<article class="box mb-3">
					<div class="icontext w-100">

						<div class="text">
							<span class="date text-muted float-md-right">{{review.updated_at}} </span>
							<h6 class="mb-1">{{review.user.first_name}} </h6>
							<div class="rating-star">
								<span>
									<i class="fa-solid fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa-solid fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa-solid fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa-solid fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa-solid fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div> <!-- icontext.// -->
					<div class="mt-2">
						<h5>{{review.review}}</h5>
					</div>
				</article>
{% endfor %}


			</div> <!-- col.// -->
		</div> <!-- row.// -->


	</div> <!-- container .//  -->
</section>

</div>
{% endblock main-content %}